 // Defined varable
color-bg = #d3d3d3
color-shadow = #5d656c
color-blue = #008BED
color-gray = #7f8c8d
color-light = #F9F9F9

// Base style
html
  font-size: 62.5%

body
  background: color-bg
  transition: all 1s
  font-size: 1.4rem
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.app
  min-height: 100%
  max-width: 640px
  margin: 0 auto
  padding-bottom: 10px
  background-color: #fff
  box-shadow: 0 0 2.5em color-shadow
  position: relative

// Reset style
li
  list-style: none

a
  text-decoration: none
  color: inherit

h1, h2, h3, h4, h5, h6
  margin: 0

p
  margin: 0
