color-bg = #d3d3d3
color-shadow = #5d656c
color-blue = #008BED
color-gray = #7f8c8d
color-light = #F9F9F9

html
  font-size: 62.5%

body
  background: color-bg
  transition: all 1s
  font-size: 1.4rem
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.app
  min-height: 100%
  max-width: 640px
  margin: 0 auto
  padding-bottom: 10px
  background-color: #fff
  box-shadow: 0 0 2.5em color-shadow
  position: relative

  //.news
  //  h3
  //    text-align: center
  //    font-size: 1.8rem
  //    color: color-gray
  //
  //  .new
  //    margin: 20px
  //    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25)
  //    cursor: pointer
  //    position: relative
  //
  //    img
  //      max-height: 100px
  //      max-width: 120px
  //
  //    p
  //      padding-left: 20px
  //      display: inline-block
  //      vertical-align: top
  //      font-size: 1.6rem
  //      width: 400px
  //
  //    em
  //      position: absolute
  //      right: 10px
  //      bottom: 10px
  //
  //.detail
  //  .postimage
  //    width: 100%
